CONFLUENT_SERVER=replace_with_your_own.confluent.cloud:9092
CONFLUENT_API_KEY=create_on_your_confluent_cluster
CONFLUENT_API_SECRET=create_on_your_confluent_cluster
SCHEMA_REGISTRY_URL=get_it_from_schema_registry
SR_API_KEY=create_on_your_schema_registry
SR_API_SECRET=create_on_your_schema_registry
KSQLDB_URL=add_your_ksqldb_url
KSQLDB_API_KEY=create_separate_key_for_ksqldb
KSQLDB_API_SECRET=create_separate_key_for_ksqldb


CLOUD_PROVIDER=gcp
CLOUD_REGION=gcp_region
FLINK_API_KEY=create_for_flink
FLINK_API_SECRET=create_for_flink
COMPUTE_POOL_ID=once_create_flink_cluster_you_can_get_id
ORG_ID=find_from_user_setting
ENV_ID=find_from_env_setting
